<<<<<<< HEAD
.App {
=======
.app {
  margin: 0;
  padding: 0;
  background-color: grey;
  color: white;
  box-sizing: border-box;
>>>>>>> dad07cb5b1a49f0d54a724406c1597c24f7561d3
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh}

<<<<<<< HEAD
.dark{ 
background: #333;
color: white}


nav {
width: 100%;
padding: 10px 0px 10px
=======
.navbar {
  background-color: whitesmoke;
  width: 100vw;

>>>>>>> dad07cb5b1a49f0d54a724406c1597c24f7561d3
}

a, span{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.6s}

a:hover, span:hover{
  background-color: #333;
  color: white}

.chart-window, .scalp-chart{
  width: 50vw;
<<<<<<< HEAD
  height: 47vh}
=======
  height: 47vh;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;


  /* 
  resizeable windows
  padding: 1%;
  resize: both;
  overflow: auto; */
}
>>>>>>> dad07cb5b1a49f0d54a724406c1597c24f7561d3

span.dark:hover, a.dark:hover {
  color: #333;
  background: white}

 @media only screen and (max-width: 1200px){

  .scalp-chart {
    width: 98vw;
    height: 98vh;
    }  

  .chart-window, nav{
    display: none;
    }
  }












